# Copy this file to .env and fill in your Neon PostgreSQL connection values
DB_HOST=ep-winter-pond-aoocy34n-pooler.c-2.ap-southeast-1.aws.neon.tech
DB_PORT=5432
DB_NAME=printer_monitor
DB_USER=neondb_owner
DB_PASSWORD=npg_Nk5i6YZTQMrK
DB_SSLMODE=require
